GDAL                              		3.1.4
segmentation-models-pytorch   	0.1.3
torch                         		1.7.0+cu110
pytorch-toolbelt              		0.4.1
Data Available: https://pan.baidu.com/s/14Q8CiI7HFFKkkyO13w4xZQ          Extraction code：3evp
